/* Place your CSS styles in this file */
 body {
         background-color: rgb(223, 241, 223);
         font-size: 20px;
      }

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    
}
/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
    color: white;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
    color: white;
  }
}
@media  screen and (max-width: 400px) {
  background-color: #FCFF33;
}

.container{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 font-family: 'Vibur', cursive;
 font-size: 2em;
 color: #666;
}
html{
  background-color: #000;
}
.fa{
  margin-left: 20px;
  color: #b3b300;
}


      
