/* Place your CSS styles in this file */
 body {
         background-color: rgb(223, 241, 223);
         font-size: 20px;
      }
@media screen and (max-width: 768px)
    {
       background-color: green;
       color:white;
     }

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    
}

.container{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 font-family: 'Vibur', cursive;
 font-size: 2em;
 color: #666;
}

.fa{
  margin-left: 20px;
  color: #b3b300;
}


      
